<html>
    <head>
        <title>MyShop Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">MyShop Blog</a></h1>
        </div>

        <div>
            <p>published: 14.04.2021, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quis est id numquam voluptatum, quo quos sequi adipisci amet laboriosam ipsa sint! Repellat eos a, maxime ipsum veniam odio dignissimos, et.</p>
        </div>

        <div>
            <p>published: 14.04.2021, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Voluptate voluptates et cum nemo deserunt, autem maiores distinctio mollitia architecto dolor possimus nam sed hic dolore laborum beatae facilis provident enim?
            Eum consequatur tenetur fugit aliquam. Blanditiis repellat molestias voluptates laudantium voluptatibus facilis quod. Assumenda blanditiis harum dignissimos, facilis dolore? Dolorem iste, labore nostrum exercitationem doloremque quo iusto ipsa nihil blanditiis.</p>
        </div>
    </body>
</html>